{% extends "user/layout.njk" %}

{% set pageId = "page-chefs-create" %}

<!-- STYLES PAGE -->
{% block styles %}
    <link rel="stylesheet" href="/styles/admin/header.css">   
    <link rel="stylesheet" href="/styles/chefs/create.css"> 
{% endblock styles %}     

<!-- PAGE CONTENT -->
{% block content %}
    <!-- HEADER -->
    {% include "admin/partials/page-header.njk" %} 

    <!-- CONTENT -->    
    <main>
               

        <form action="/admin/chefs" method="POST" class="card">

        <input type="hidden" name="id">
            
            <section class="header">

                <div class="title-content">
                    <h1>Criando Novo Chef</h1>
                    <button type="submit">Salvar Chef</button>
                </div> 

            </section>
              
            <section class="details">

              {% include "admin/chefs/fields.njk" %}   
                
            </section>

        </form> 

        

    </main>


    <!-- FOOTER -->
    
{% endblock content %}
   
<!-- MODAL -->
{% block modal %}
{% endblock modal %} 

<!-- SCRIPTS -->
{% block scripts %}
    <script src="/scripts/newInput.js"></script>
{% endblock scripts %} 



