{% extends "user/layout.njk" %}

{% set pageId = "page-ad_edit" %}

<!-- STYLES PAGE -->
{% block styles %}
    <link rel="stylesheet" href="/styles/admin/header.css">   
    <link rel="stylesheet" href="/styles/admin/edit.css"> 
{% endblock styles %}     

<!-- PAGE CONTENT -->
{% block content %}
    <!-- HEADER -->
    {% include "admin/partials/page-header.njk" %} 

    <!-- CONTENT -->    
    <main>               

        <form action="" method="POST" class="card">

            <input type="hidden" name="id" value={{item.id}}> 
            
            <section class="header">

                <div class="title-content">
                    <h1>Editando a Receita</h1>
                    <div class="">
                        <button class="selectMethod" id="put" type="submit">Atualizar</button>  
                        <button class="selectMethod" id="delete" type="submit">Excluir</button>  
                    </div>              

                </div> 

            </section>
              
            <section class="details">

              <!-- IMAGE --> 
                <div class="item">
                    <div>Imagem da receita</div>
                    <div>
                        <input type="url" name="image" placeholder="http://" value="{{item.image}}">
                    </div>
                </div>

                <!-- TITLE --> 
                <div class="item">
                    <div>Título</div>
                    <div>
                        <input type="text" name="title" placeholder="" value="{{item.title}}">
                    </div>
                </div>

                <!-- AUTHOR --> 
                <div class="item">
                    <div>Chefe - {{chef.name}}</div>
                    <div>
                        <select name="author">

                            {% for chef in chefOptions %}
                                <option 
                                    value="{{chef.id}}"
                                    {% if item.chef_id == chef.id %}
                                        selected
                                    {% endif %}                   
                                    >{{chef.name}}
                                </option>                    
                            {% endfor %}     
                            
                        </select>
                    </div>
                </div>

                <!-- INGREDIENTES --> 
                <div class="item" id="ingredients">

                    <div class="remove-item">
                        <h1>Ingredientes</h1>
                        <p>Click em um item para remover</p>    
                    </div>
                    
                    {% for ingredient in item.ingredients %}
                    
                        <div class="ingredient">
                            <input type="text" name="ingredients[]" placeholder="" value="{{ingredient}}">
                        </div>     

                    {% endfor %}                            

                </div>

                <a class="add-ingredient">Adicionar novo ingrediente</a>              


                <!-- PREPARATION --> 
                <div class="item" id="preparations">

                    <div class="remove-item">
                        <h1>Modo de Preparo</h1>
                        <p>Click em um item para remover</p> 
                    </div>

                     {% for preparation in item.preparations %}

                        <div class="preparation">
                            <input type="text" name="preparations[]" placeholder="" value="{{preparation}}">
                        </div>

                    {% endfor %} 

                </div>

                <a class="add-preparation">Adicionar novo preparo</a>

                <!-- INFORMATION --> 
                <div class="item">
                    <div>Informações adicionais</div>
                    <div class="info">
                        <textarea name="information" cols="30" rows="10" placeholder="">{{item.information}}</textarea>
                    </div>
                </div>             
                                
                
                                
            </section>

        </form> 

    </main>


    <!-- FOOTER -->
    
{% endblock content %}
   
<!-- MODAL -->
{% block modal %}
{% endblock modal %} 

<!-- SCRIPTS -->
{% block scripts %}
    <script src="/scripts/newInput.js"></script>
    <script src="/scripts/removeInput.js"></script>
    <script src="/scripts/selectMethod.js"></script>
{% endblock scripts %} 



