<header>
        <div class="menu">
            
                <a href="/">
                    <img src="/assets/logo_white.png" alt="">   
                </a>
              
            <div class="links">                        
                <a href="/admin/recipes">Receitas</a>              
                <a href="/admin/chefs">Chefes</a>
            </div>            
        </div>
</header>